
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// LightGallery
@import "node_modules/lightgallery/src/sass/lightgallery";


.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

